@import '~antd/dist/antd.less';

body {
    overflow-x: hidden;
}

a {
    font-weight: 500;
    &:hover {
        cursor: pointer;
    }
}

.ant-table-wrapper {
    width: 100%;
}

.ant-form-item-label > label {
    font-weight: 600;
}

.ant-card {
    border-radius: 12px;
    height: 100%;
}

.card_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.list_icon {
    font-size: 20px;
    color: #7a3db8;
    &:hover {
        cursor: pointer;
    }
}
