@import '~antd/dist/antd.less';

body {
    overflow-x: hidden;
}

a {
    font-weight: 500;
    &:hover {
        cursor: pointer;
    }
}

.ant-table-wrapper {
    width: 100%;
}

.ant-form-item-label > label {
    font-weight: 600;
}

.ant-card {
    border-radius: 12px;
    /*height: 100%;*/
}

.card_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.list_icon {
    font-size: 20px;
    color: #7a3db8;
    &:hover {
        cursor: pointer;
    }
}

.form_button {
    text-transform: capitalize;
}

.topbar_title {
    font-weight: 700 !important;
    color: #7a3db8 !important;
}

input::placeholder {
    text-transform: capitalize !important;
}

.ant-page-header-ghost {
    background-color: white;
    width: 100%;
    margin-bottom: 24px;
    border-radius: 12px;
}

span.ant-page-header-heading-title {
    font-weight: 700 !important;
    color: #7a3db8 !important;
    font-size: 24px;
}

span.ant-descriptions-item-label {
    font-weight: 500;
}

.ant-descriptions-item-container .ant-descriptions-item-label,
.ant-descriptions-item-container .ant-descriptions-item-content {
    align-items: center !important;
}

span.anticon.anticon-eye {
    &:hover {
        cursor: pointer;
    }
}

.ant-page-header-heading {
    padding: 8px 0 !important;
}

.ant-page-header-content {
    padding-top: 0 !important;
}
